[2013-05-25 15:38] hawesie opened #1 "Adding RGB-D cameras to robot model"
Our robot model needs at least one RGB-D camera. It could be in a fixed position to start, but ideally on a PTU.

[2013-05-26 08:53] hawesie opened #2 "Simplified CS model"
The multi-floor CS model is cool, but I find it a bit hard to navigate and view. Please could we have a single-floor version for initial use?

[2013-05-28 09:01] cburbridge commented on #2
I agree a multi-floor model is bordering on impossible to navigate. I think the best option is to still stick to a single model, but to setup some better controls for navigation. For example a menu of pre-defined camera poses and the possibility to temporarily hide floors from view. I'll look into it...

[2013-05-28 09:07] hawesie commented on #2
Yep, floor visibility and camera controls would also be a good solution.

[2013-05-28 20:38] kunzel commented on #1
Agreed :) Today I was trying to get a depth camera, ie kinect, working on our robot model. It turned out that using a depth camera in MORSE requires Python 3.3 and a corresponding Blender version (2.65a). After trying different versions I finally managed to get it running. Details will follow shortly.

[2013-05-31 14:08] cburbridge commented on #2
I have added component hiding to the main morse simulator. Check out and install the latest version development version, run it and then run morse/bin/morse_inspector.py to change floor visibility.

[2013-05-31 14:08] #2 closed, assigned to cburbridge

[2013-06-03 19:36] hawesie commented on #2
Latest version of MORSE, or of the bham simulation?

[2013-06-03 19:40] kunzel commented on #2
It is in the latest version of MORSE

##

Lars Kunze

Research Fellow in Intelligent Robotics
School of Computer Science
University of Birmingham
http://www.cs.bham.ac.uk/~kunzel

On 3 June 2013 20:36, Nick Hawes notifications@github.com wrote:

[2013-06-03 19:52] hawesie commented on #2
Great, thanks!

[2013-07-01 13:25] marc-hanheide opened #7 "Catkinise repository and move execution and navigation somewhere else"

[2013-07-02 17:25] #7 closed, assigned to nobody

[2013-07-03 12:55] kunzel opened #10 "Markdown formatting in Readme.md"
Does anybody know why the Markdown code elements such as '$ rosrun ...' are not visualized properly in the Readme.md? Or is the formatting wrong?

[2013-07-04 21:00] #10 closed, assigned to nobody

[2013-07-04 21:02] marc-hanheide commented on #10
I corrected it in 835808c52498f969bedad42acd10f246532e804b
You just missed an additional space in your indentation. Because you ha an enumeration (one level indented), for source formatting you need 8 spaces... markdown is a bit strange, you know.

[2013-07-05 10:58] kunzel commented on #1
A depth camera (PointCloud2) and videoCamera (Image) are on a PTU on the robot used in the TUM kitchen (default-with-kinect.py). I think it's not very handy to add them to every new environment every time manually to the robot. Therefore I would like to put them directly into the robot model. However, this would mean that we have to use Python 3.3 and cannot use the fast_mode of MORSE anymore. May

[2013-07-05 11:01] kunzel opened #12 "Refactor namining scheme of environments"
Currenty the naming of the different files is a little bit confusion, in particular with the different levels of the bham_cs building. All files related to the same level should have a common prefix.

[2013-07-05 11:03] kunzel opened #13 "Add simple launch files for all environments"
To avoid commands with many arguments like `rosrun strand_morse simulator.sh tum_kitchen default-with-kinect.py` simple wrapper launch files should be added for convenience.

[2013-07-05 11:49] hawesie commented on #1
I'm happy as it's the right thing in general. But this is provided there is a way to turn them off as they segfault my MORSE on OS X!

[2013-07-08 14:25] kunzel opened #15 "Some bham cs environments don't have a light source"
Environments without light source:
- cs_ug
- cs_1
- cs_2

[2013-07-09 12:37] #12 closed, assigned to kunzel

[2013-07-09 12:55] kunzel commented on #13
Was resolved with #14

[2013-07-09 12:55] #13 closed, assigned to kunzel

[2013-07-09 12:56] kunzel opened #16 "morse_config.py assumes python3 is installed in /usr/bin/"

[2013-07-09 13:01] #16 closed, assigned to kunzel

[2013-07-10 08:47] #1 closed, assigned to kunzel

[2013-07-10 20:32] marc-hanheide opened #19 "add the Lincoln environment"
it has been created (3rd floor only) and also mapped, but needs to be properly integrated into the strands_morse structure

[2013-07-10 21:07] kunzel commented on #19
Cool! Let me know if you need help.

[2013-07-11 10:16] mudrole1 opened #20 "Improving of robot model"
Improving a robot model to have more realistic model

[2013-07-12 12:54] marc-hanheide opened #21 "adding a human doesn't work"
I tried to add a human to our simulation using `human=Human()` but it fails with the following message

[code]

Any idea about that? I checked that there is a POS_EMPTY object in Human.blend, so I don't know what's going wrong. Before I bother the morse people, I thought you might have an idea.

[2013-07-13 20:02] marc-hanheide commented on #21
Anyone? Any idea? @hawsie?

[2013-07-13 23:32] kunzel commented on #21
@marc-hanheide, the error can be resolved when commenting two lines in the scitos's robot builder file. However, I don't understand the problem yet.
In [scitosA5.py](https://github.com/strands-project/strands_morse/blob/master/strands_sim/src/strands_sim/builder/robots/scitosA5.py) please comment the following two lines:

21 #self.add_interface('ros')
55 #self.odometry.add_interface('ros', topic="

[2013-07-14 19:20] marc-hanheide commented on #21
Cheers! I fixed it the easy way: By updating morse from github ;-) The bug has now been fixed in master.
I now included a quick guide on how to update Morse (very obvious): https://github.com/strands-project/strands_systems#updating-morse

Thanks for the support,

Marc

[2013-07-14 19:20] #21 closed, assigned to kunzel

[2013-07-16 16:03] #19 closed, assigned to cdondrup

[2013-07-23 10:49] hawesie opened #27 "Battery and charging model for scitos robot in sim"
Add battery model to robot and define charging point in existing sim models (perhaps these should be additional issues).

[2013-07-23 16:59] kunzel opened #32 "Generate/Configure robot model from URDF"

[2013-07-23 17:20] kunzel commented on #20
Closed by #30.

[2013-07-23 17:20] #20 closed, assigned to mudrole1

[2013-07-23 17:37] kunzel opened #34 "Publish PTU pose for updating corresponding frames"

[2013-07-24 15:01] kunzel commented on #34
Closed by #36.

[2013-07-24 15:01] #34 closed, assigned to nobody

[2013-07-24 23:21] hawesie opened #37 "Floating robot in bham_cs_morse"
When I run `roslaunch strands_morse bham_cs_morse.launch` I get a floating robot. Does anyone see this? Any idea where I should start looking for the problem?

![screen shot 2013-07-23 at 22 21 59](https://f.cloud.github.com/assets/927289/852634/a1198912-f4b7-11e2-9285-70261c6e92de.png)

[2013-07-25 06:01] kunzel commented on #37
Yes, I have it too. It's a missing physics parameter in the blender file.
I'll fix it today. As a workaround you might use the old (red) robot. Or
adjust the  starting position of the robot.
On 25 Jul 2013 00:21, "Nick Hawes" notifications@github.com wrote:

[2013-07-25 15:05] #37 closed, assigned to nobody

[2013-07-25 17:50] kunzel opened #39 "Pointcloud upside down"
Due to a bug in MORSE, the depth camera point cloud is upside down with the latest URDF from scitos_description. I've already reported the bug to the MORSE developers.

As a workaround you can use an old version of the URDF:

[code]

[2013-07-27 20:55] kunzel opened #41 "depth camera scans through walls"

[2013-07-27 21:00] kunzel opened #42 "faster than real-time simulation"
10x faster than real-time works in principle

observations:
- planner fails often (wrong localization?) and therefoe is a bottle neck
- octo-mapping misses lots of points and builds the map only piece-wise

[2013-07-29 13:07] kunzel opened #43 "Add a bump sensor"

[2013-07-29 15:30] kunzel commented on #27
@gestom Is there a way to enable a more verbose debug mode or something to see why the process fails?
I got the following:

[code]

I'd assume that the image cannot really be detected, though I am not sure.

[2013-07-31 09:33] kunzel opened #44 "scitos_drivers topics and services in MORSE"
As other components such as the autonomous docking and patrolling rely more and more on the topics and services provided by the scitos_drives package they become incompatible with the simulation.

In the end we want to run the same control program on both the real robot and the simulated one.  So, basically all topics and services should also be provided by the simualtion.

@cburbridge, do you hav

[2013-07-31 16:05] marc-hanheide commented on #44
maybe it would be useful to have a dedicated Scitos ROS node that implements the same interface as the real robot. That means it mediates the MORSE topics (which should then be in a dedicated namespace) and adds more topics/services as needed. We could actually try to have this component implement the same interface as the Scitos_drivers themselves... Just ideas, though.

[2013-08-02 14:47] marc-hanheide opened #46 "image topics should be the same as on the robot (e.g. head_xtion...)"
currently, we still have different topics in simulation and reality,  e.g. `/camera/depth/points` and `/videocam/image`

[2013-08-02 14:51] kunzel commented on #46
There is a pending pull request where these topics are adjusted :)

[2013-08-02 15:20] marc-hanheide commented on #46
aaah, didn't see that

[2013-08-02 15:20] #46 closed, assigned to nobody

[2013-08-05 13:52] kunzel commented on #41
As a workaround set the cam_near property to 0.1.

[2013-08-06 14:23] kunzel commented on #27
Added in #45

[2013-08-06 14:23] #27 closed, assigned to kunzel

[2013-08-06 14:25] kunzel commented on #41
Also reported this issue on the morse-users mailing list. They also suggested to to use 0.1 as a default for cam_neat. Therefore this issue will be closed for now.

[2013-08-06 14:25] #41 closed, assigned to kunzel

[2013-08-07 08:25] #44 closed, assigned to kunzel

[2013-08-09 08:08] marc-hanheide opened #48 "/head_xtion/rgb/image_color doesn't stream any images"
While `/head_xtion/rgb/image_mono` works, `/head_xtion/rgb/image_color` never sends any data...

[2013-08-09 10:50] kunzel commented on #48
There is only image topic published by MORSE, which is currently image_mono, which is a little bit odd because it is a color image. I only changed the topic name (color->mono) because @gestom switched the topic name in the visual docking some time ago. But we can also switch it back to color if this is preferable.

[2013-08-09 11:02] marc-hanheide commented on #48
A workaround could be to add another camera so we actually have both? Or implement a node that takes the colour image and republishes it as mono?

[2013-08-09 15:28] cdondrup commented on #48
Just as a side note: The people detector will need both, the colour and mono image. So it would be great if we could have both available.
Whether the detection will work in simulation or not is another question...

[2013-08-12 13:44] kunzel commented on #39
Closed by https://github.com/strands-project/morse/commit/ab37aff2b77fe90721b159a9b9770d406d5ab295

[2013-08-12 13:44] #39 closed, assigned to kunzel

[2013-08-19 10:20] cdondrup opened #49 "Discrepancies of the vision output"
I would like to test the people detection in simulation as well, so I had a look at what morse is offering. It seems there are a few discrepancies:
- The image size , encoding and frame_id are different:

Kinect:

[code]

Morse:

[code]
- The camera info differs: (probably due to the different image sizes?!)

Kinect:

[code]

Morse:

[code]
- The depth image is missing. Just the point cloud is pub

[2013-08-19 12:28] hawesie commented on #49
I think @kunzel is probably your man for this, but he's on vacation for the next 2 weeks.

[2013-08-19 16:09] cdondrup commented on #49
Thank you for letting me know.

[2013-10-06 09:23] cdondrup commented on #49
@kunzel we talked about that issue briefly on Friday. Maybe we can have a look at it together.

[2013-10-07 16:19] kunzel commented on #49
Hi @cdondrup, we can easily change the dimension of the RGB image to 640x480. In the latest version the alpha channel was already removed in the image encoding. So, you have something like this for the camera info:

[code]

The encoding is still a little bit different (rgb8 instead of bgr8).  Would this be OK?

For the depth image, I will try to add the 'DepthVideoCamera' (http://www.openrobots.or

[2013-10-07 21:39] cdondrup commented on #49
That's great news. Thank you!
The encoding is no problem. I can just write a simple node to re-encode the images into bgr8 to simulate the real asus. Also creating a mono image from the colour image should be easily done with a simple node if you can't do it in Morse directly.

[2013-10-14 14:43] hawesie opened #52 "Crowd dynamics"
To make long-term patrolling in simulation more effective, it would be great to have people in the simulation. If anyone is able to start implementing this, please claim this issue ;)

[2013-10-14 16:46] kunzel opened #53 "Adding and moving static obstacles in the simulation dynamically"

[2013-10-14 16:49] marc-hanheide commented on #52
We have a PhD student who is actually doing research on this, mainly to create believable crowd movements in games. But he expressed interest to get this working in robot simulations as well. I'll try to get an update from him.

[2013-10-14 16:59] kunzel commented on #52
That would be nice @marc-hanheide. I did a quick test with the human character and a waypoint actuator. Thereby, it is possible to send the human avatar to a waypoint via the socket interface.  It should be relatively simple to get some human-looking moving obstacles.

Add the following to the MORSE build script:

[code]

Start a telnet session:
`telnet localhost 4000`

Send a command:
`id1 human.

[2013-10-14 18:53] marc-hanheide commented on #52
Cool, I'll tell him it's that simple, but he'd need to know the map of the environment, too... Anyway, good!

[2013-10-14 19:00] hawesie commented on #52
:+1:

[2013-10-14 19:58] kunzel commented on #52
I just saw that there is also a Pose2D ROS interface for the waypoint actuator. Maybe he could use the nav_goals_generator (https://github.com/strands-project/strands_utils/tree/master/nav_goals_generator) to generate a number of random 2D poses in the overall map or a particular region of interest. However, the generated random poses are in map frame whereas the waypoint actuator uses MORSE's wor

[2013-10-14 20:37] hawesie commented on #52
We also have a PRM generator for ROS which could be used for some structured waypoints: https://github.com/uobirlab/map_view

[2013-10-24 14:28] kunzel commented on #43
I believe we don't need a bumper sensor in simulation. Currently, the bumper information is faked and always reports 'not pressed'. Please feel free to re-open the ticket if a bumper is really needed.

[2013-10-24 14:28] #43 closed, assigned to nobody

[2013-10-29 16:58] Jailander opened #55 "Ptu unit in simulation"
Is there any way to move the PTU unit in simulation?

[2013-10-29 18:01] kunzel commented on #55
Yes, it is. You just publish a message of type sensor_msgs/JointState to the topic named '/ptu_jointstate'.
I've just corrected the topic name in the latest version of the topic_republisher (strands_utils) to '/ptu/cmd' to reflect the topic name of the real robot.  That is, if you get the latest version of strands_morse and strands_utils it should work as on the real robot.

Example:

$ rostopic p

[2013-10-29 22:57] Jailander commented on #55
Hi Lars,

I can move the PTU when I publish to /ptu_jointstate but not when I do it to /ptu/cmd I have updated my system a few minutes ago, any ideas?

cheers

[2013-10-29 23:16] kunzel commented on #55
Hmm, did you also update strands_utils as I said above? The following commit should have actually changed the topic name to /ptu/cmd: https://github.com/strands-project/strands_utils/commit/bd66a3e36f0d4c589710169000d3f2fe5a118cc2

[2013-10-30 09:53] Jailander commented on #55
Hi, problem solved I had some residual executables in my catkin_ws (things that happen when you are in a hurry). PTU works perfectly in simulation, thanks!

[2013-10-30 09:56] #55 closed, assigned to nobody

[2013-10-30 10:51] kunzel commented on #55
Great, thanks for reporting the problem. I did not notice that the docking also uses the PTU in the meantime. Can you please check whether the docking is more stable now in simulation?

[2013-10-30 11:04] Jailander commented on #55
Docking is working perfectly, I haven’t had any problems with it, the undocking part is the problem right now, since it is not working as it does on the robot, @gestom and I will look into it this afternoon. And I will let you know as soon as we have a fix.

[2014-02-06 16:32] cburbridge commented on #15
@mudrole1 what is the easiest way to add a light source to the environments? I dont want to have to add lights to every room...

[2014-02-09 14:22] kunzel commented on #15
Maybe take cs_lg as an example? I think there are only some light sources, but not one for every room.

[2014-03-10 12:54] cburbridge opened #61 "Video camera crashes morse"
Morse regularly won't start because of a bug related to the video camera. It starts up, but then just after the scene is initialised it crashes:

[code]

This happens most times, but if I keep restarting eventually I get going.

[2014-03-10 14:18] hawesie commented on #61
I'm glad you see this too, as I thought it was just an OS X thing.

[2014-05-14 06:01] hawesie opened #66 "DWA planner always fails in simulation"
DWA planner always fails for me in simulation. The output is repeated pairs of:

[code]

This is just launching this the cs_lg env plus scitos_2d_nav. Do i need a special nav launch for simulation or should the normal one work?

[2014-05-14 06:51] kunzel commented on #66
I usually use bham_cs_nav2d.launch which takes cs_lg as default environment. However, it also just uses scitos_2d_navigation. Have you check that the global cost map is loaded?

[2014-05-14 20:42] hawesie commented on #66
Looks fine to me.

![screen shot 2014-05-14 at 13 23 43](https://cloud.githubusercontent.com/assets/927289/2977153/2979b520-dba8-11e3-99ad-36c00c37da56.png)

[2014-05-25 07:43] hawesie commented on #66
I've posted a cry for help on ROS answers: http://answers.ros.org/question/168961/dwa-planner-failed-to-produce-path/

[2014-06-02 14:53] nilsbore commented on #49
@kunzel I've had a closer look at this now. I'm able project the point clouds to create `/head_xtion/depth/image_raw` and together with some changes to how the point cloud and rgb image are generated, this enables me to generate most of the topics from the openni_wrapper processing pipeline. However, for some reason, it keeps on crashing when I subscribe to the registered(aligned) topics, i.e. `/h

[2014-07-07 14:05] LukeLukasson opened #69 "Installation problem"
Hi

We were following the instructions on the [Hydro Installation Instructions Wiki](https://github.com/strands-project/strands_systems/wiki/Hydro-Installation-Instructions) in order to install MORSE (step 2 - the ```steup.sh``` script). However, when we tried to run sth like

    roslaunch strands_morse bham_cs_morse.launch env:=cs_1

we get an error message saying:

[code]

Does anybody know the

[2014-07-09 09:15] nilsbore commented on #69
I tried doing a new installation on another machine and I get the same error. I think I had the same problem another time but then it was enough to update the Morse installation via the install script. These installations were done with the script so they should install all the latest versions. Do you have any idea of how to solve this, @kunzel ?

Edit:
Sorry I was to trigger happy here, I don't a

[2014-07-09 09:51] kunzel commented on #69
Hmm, I don't have any idea at the moment. But I will setup a new machine today (or tomorrow). Let's see whether I will run into the same problem...

[2014-07-09 09:52] hawesie commented on #69
Given the instructions @LukeLukasson followed, it looks like this is on OSX rather than Ubuntu. Is that right Luke?

[2014-07-09 09:57] LukeLukasson commented on #69
@hawesie It's an Ubuntu machine I tried to install it on.

[2014-07-09 10:27] hawesie commented on #69
@LukeLukasson then you're following the wrong instructions. Try https://raw.githubusercontent.com/strands-project/strands_systems/hydro-devel/setup.sh instead.

[2014-07-09 10:30] nilsbore commented on #69
@hawesie This looks like the normal ubuntu instructions to me. I don't see it mentioning mac anywhere? Also, that script worked for me when installing on ubuntu.

[2014-07-09 10:31] LukeLukasson commented on #69
@hawesie The script I executed also says:

[code]

[2014-07-09 10:39] hawesie commented on #69
Sorry, I have no idea where I got OSX from. Oops.

[2014-07-11 08:38] kunzel commented on #69
Sorry, I could not reproduce this error yesterday. For me the installation procedure worked. I am glad that you got it running in the end.

[2014-07-11 08:40] nilsbore commented on #69
As I said above, I also got it running in the end. I was just confused by that error message. Thanks for the help!

[2014-08-31 17:44] nilsbore commented on #48
This was fixed by adding the openni stack: https://github.com/strands-project/strands_morse/pull/68.

[2014-08-31 17:45] nilsbore commented on #49
I guess this is also fixed by https://github.com/strands-project/strands_morse/pull/68, except for the part that @cdondrup mentioned about one being rgb8 and the other rgb8.

[2014-08-31 17:46] nilsbore commented on #69
We got this running so this should be closed.

[2014-10-30 13:12] cdondrup opened #73 "Needs install targets"
The CMakeLists.txt does not contain any install targets. Therefore, the debian package is empty.

[2014-10-30 13:19] cdondrup opened #74 "morse-blender should be a dependency of strands_morse"
This package should depend on the actual `morse-blender-2.65-py-3.3` as a run dependency.

[2014-10-30 15:15] cdondrup opened #75 "strands_morse needs topic_republisher from strands_utils."
Has to be added to run dependencies.
topic_republisher has to be moved to strands_apps.

[2014-10-30 17:00] cdondrup opened #77 "move_base not working in uol_mht environment"
Some people reported to have problems with `move_base` in the uol mht environment. The robot would only spin in place but never move. I cannot reproduce the error but maybe someone has an idea? @kunzel maybe?

[2014-10-30 17:13] cdondrup commented on #75
Closed via #76 and https://github.com/strands-project/strands_apps/issues/9

[2014-10-30 17:13] #75 closed, assigned to cdondrup

[2014-10-30 17:13] cdondrup commented on #74
Closed via #76

[2014-10-30 17:13] cdondrup commented on #73
Closed via #76

[2014-10-30 17:13] #73 closed, assigned to cdondrup

[2014-10-30 17:47] cdondrup commented on #74
See 1176b524bbca81efd1dee3aaae1c7291d9f8eb3b

[2014-10-30 19:25] hawesie commented on #77
Does teleop work? You can use http://wiki.ros.org/teleop_twist_keyboard if you don't have a pad handy. I've had problems with the robot getting stuck on the floor in sim. Some movements are possible, but not all.

[2014-10-31 10:37] cdondrup commented on #77
@santosj can you please try that when you have some time?
You just have to install `ros-hydro-teleop-twist-keyboard` first and then run the simulation and `rosrun teleop_twist_keyboard teleop_twist_keyboard.py`

[2014-10-31 10:53] cdondrup commented on #77
You were absolutely right @hawesie. See above PR.
Thank you!

[2014-11-04 16:43] cdondrup opened #79 "human model not working if run with morse-blender-bundle package"
The morse-blender-bundle package uses the newest version of morse where the humanarmature has been changed. Therefore if `strands_morse` is run with the human enabled, it will crash with an error that the humanarmature cannot be loaded. (This doesn't happen if you use the old strands way of installing it.)

We'll use the normal blender human until it has been migrated.

[2014-11-07 12:34] marc-hanheide opened #84 "scitos_description dependency missing"
this should be a `<run_depend>`

[2014-11-07 14:39] marc-hanheide commented on #84
and include morse-blender-bundle as run_depend, too

[2014-11-07 14:44] marc-hanheide opened #85 "create new uol environments for simplified testing"
- [x] one without any cameras but `fastmode=False`
- [x] one without any cameras and `fastmode=True`
- [x] one without any depth_cameras

both above with a human included

[2014-11-07 17:30] cdondrup commented on #84
The `scitos_description` is already there: https://github.com/strands-project/strands_morse/blob/hydro-devel/package.xml#L53 Not sure why it wasn't installed when the student tried it.
But I will reintroduce the `morse-blender-bundle` since fedro versions are now not built any more.

[2014-11-07 17:57] cdondrup opened #87 "scitos_2d_navigation missing as run dependency"
needed for the `*_nav2d.launch` files

[2014-11-07 18:40] cdondrup commented on #84
Closed via #86

[2014-11-07 18:40] #84 closed, assigned to marc-hanheide

[2014-11-07 18:46] cdondrup commented on #85
Closed via #88

[2014-11-07 18:46] #85 closed, assigned to cdondrup

[2014-11-07 18:49] cdondrup commented on #87
Closed via #89

[2014-11-07 18:49] #87 closed, assigned to cdondrup

[2014-11-07 19:38] cdondrup commented on #77
This has been fixed.

[2014-11-07 19:38] #77 closed, assigned to nobody

[2014-11-07 19:39] #48 closed, assigned to nobody

[2014-11-07 19:39] #49 closed, assigned to nobody

[2014-11-21 12:51] cdondrup opened #90 "create uol environment with multiple humans"

[2014-12-10 15:24] bfalacerda opened #91 "morse in 14.04"
we haven't released this package for indigo yet, and `sudo apt-get install morse-blender-2.65-py-3.3` doesnt work in 14.04 either. Anyone knows how to get morse properly installed in 14.04?

[2014-12-11 11:43] hawesie commented on #91
If we want to get the Indigo / 14.04 update process going, having a simulator we can test in is pretty important. Please can whoever created the Hydro / 12.04 package for strands morse prioritise this if possible?

[2014-12-17 10:34] bfalacerda commented on #91
Can someone take a look at this @marc-hanheide ? @cdondrup ? I just need a trusty entry in our rosdep file for this morse-blender bundle, I'm happy to keep strands_morse in my local workspace for the time being.

[2014-12-17 10:41] marc-hanheide commented on #91
OK, I can look into this, but not today and tomorrow. It's build using https://github.com/strands-project/dh_bin_wizard and I think @cburbridge might have used this repo to create the MIRA packages, so he might be quicker than me.

[2014-12-17 10:43] marc-hanheide commented on #91
That said, the setup script for morse (https://github.com/strands-project/dh_bin_wizard/blob/dh_make/morse-setup.sh) pulls the latest HEAD form the morse repo. We shouldn't do that, I suppose, but rather pull a specific tag, that should then be reflected in the version number of the package, see https://github.com/strands-project/dh_bin_wizard/blob/dh_make/morse-strands.mk

[2014-12-17 17:51] cburbridge commented on #91
I will try to look at this tomorrow.

On 17 December 2014 at 10:43, Marc Hanheide notifications@github.com
wrote:

[2014-12-18 14:15] cburbridge commented on #91
I have made a package for our MORSE fork, it should get to the lincoln repo shortly. In the meantime you can download the .deb here: https://docs.google.com/file/d/0B-hS5kcbiUI8QU85VXExVXBXQUk/edit?usp=drive_web

Once MORSE is in the repo I will release strands_morse for indigo. In the meantime, after installing the above deb you can run morse on indigo by using the indigo-devel branch of this rep

[2014-12-18 15:40] bfalacerda commented on #91
the deb file works and everything runs, thanks!

There's an issue with move base but i'll open a new issue about it

[2014-12-18 15:40] #91 closed, assigned to nobody

[2014-12-18 15:45] bfalacerda opened #92 "navigation in indigo"
The navigation in the simulation environment doesn't work properly in indigo. The robot generates the plan and rotates towards the goal normally, but then in it doesn't move forward. ``/cmd_vel`` looks like this:

[code]

If i drive him in blender towards the goal it will then rotate into position and achieve the goal, so it's some weird thing with the linear velocities

[2015-01-20 13:53] #69 closed

[2015-01-20 13:54] kunzel commented on #66
@hawesie Can we close this issue?

[2015-01-20 13:57] kunzel commented on #32
I'll close this for now. If somebody desperately needs it, please re-open the issue.

[2015-01-20 13:57] #32 closed

[2015-01-20 13:59] kunzel commented on #61
@cburbridge I never had this problem with the camera. Do you still have problems under indigo? Or can we close this issue?

[2015-01-20 14:01] kunzel commented on #74
@cdondrup Can we close this issue? I assume it has been solved with the release stuff, or not?

[2015-01-20 14:09] #92 closed

[2015-01-20 16:57] #74 closed

[2015-01-21 14:06] cburbridge commented on #61
Closed as it appears OK using latest version.

[2015-01-21 14:06] #61 closed

[2015-01-22 16:37] mzillich opened #94 "morse-blender package not found"
The morse-blender package can not be found:

[code]

Am I missing a repository entry?

[2015-01-22 17:06] marc-hanheide commented on #94
nope, it doesn't exist in trusty as we are using the official morse package here. @cburbridge knows more. Why did you try to install it?

[2015-01-23 09:12] mzillich commented on #94
I followed the wiki instructions at https://github.com/strands-project/strands_morse. And I thought it would be necessary, cause running

gave an error that I have not quite figured out yet:

[code]

[2015-01-23 09:26] kunzel commented on #94
@marc-hanheide , aren't we using the package strands-morse-simulator in trusty? (this should be the STRANDS version if I am right). However, if we are going to use the standard Morse version (which would be OK with me), we have to make some minor changes to our robot model as their is, e.g. no BatteryStateSensor in Morse (see @mzillich 's error).

[2015-01-23 10:35] cburbridge commented on #94
We now have two debian packages related to Morse:
- strands-morse-simulator: Our fork of the morse simulator  (Installed by `apt-get install strands-morse-simulator`). This includes our changes for BatteryState an includes ROS transport which the Ubuntu provided version does not have.
- strands-morse: A ROS package with our scenes and robot model. (Installed by `apt-get install ros-indigo-strands-

[2015-01-23 10:47] marc-hanheide commented on #94
Thanks for clarifying this. So @mzillich no need to install that package. If you install `apt-get ros-indigo-strands-desktop` you should get all the dependencies including morse automatically. If this doesn't work please reopen this ticket.

[2015-01-23 10:47] #94 closed

[2015-01-27 12:48] hawesie commented on #66
I think there is still an issue in the BHAM sim with the floor, but I will need time to look into it some more.

[2015-01-27 13:29] kunzel commented on #66
Does this happen under Ubuntu 14.04 and ROS Indigo? Make sure that it is
not this problem: https://github.com/strands-project/strands_morse/issues/92
It is fixed in the latest version, but I think it has not been released
yet.

On Tue Jan 27 2015 at 12:48:07 Nick Hawes notifications@github.com wrote:

[2015-02-05 18:56] ferdianjovan commented on #94
I know this topic is closed, but I am having the same problem.
I had strands_morse running until I installed standard-Morse following this
http://www.openrobots.org/morse/doc/latest/user/installation/mw/ros.html

Even though I have un-installed standard Morse, and re-installed the whole strands-system, I still can not solve this problem.

Is there a way to solve this problem?

[2015-02-06 11:06] ferdianjovan commented on #94
The problem is solved, thanks to @cburbridge!

[2015-02-06 14:03] cdondrup commented on #94
Is this a general problem? How was it solved? Is there a new release?

[2015-02-06 14:11] ferdianjovan commented on #94
I do not know if this is a general problem. There was a package named python3-morse-<something> that had not been un-installed. In my case autoremove did not help after I un-installed standard morse.

[2015-02-06 14:39] cburbridge commented on #94
The released version is fine, the problem is just a confusion as to how to
install the STRANDS-MORSE simulator. The desktop install includes it, or it
can manually be installed (pkg: ros-indigo-strands-morse). However, if you
install the non-strands MORSE packages provided by Ubuntu (pkg:
morse-simulator) then they will interfere. In this case, Ferdian had
installed Ubuntu-Morse in addition to str

[2015-02-06 14:47] cburbridge commented on #52
Did anyone ever make any progress with this?

[2015-02-06 15:05] marc-hanheide commented on #52
sorry, my student interrupted (he works for Intel and they didn't approve him doing this...)

[2015-02-11 10:50] creuther opened #95 "python3-netifaces debian dependency missing"
When bringing up strands_morse (regardless of environment) on Ubuntu 14.04 (or rather Linux Mint 17) it gives the following error whenever it would subscribe to a topic:

[code]

This was **fixed by installing the python3-netifaces debian package**. Everything looked fine but obviously there was no communication between morse and the ROS stuff (hence the robot didn't move in any nav2d environment

[2015-02-11 10:51] marc-hanheide commented on #95
@cburbridge I think this deep needs to be added to the Debian package that you created?

[2015-02-25 13:37] cburbridge opened #96 "/odom reports non-zero y velocity"
'/odom' reports a very small non-zero y velocity when driving normally. When sliding along an object it reports higher velocities. It should always report zero since this is how the real-world scitos behaves.

This interferes with the DWA planner, and may be related to #66.

[2015-03-03 19:55] hawesie opened #97 "Simulation does not provide ptu_action_server.py"
The STRANDS robot bringup provides the following node which is missing from the simulated robot.

[code]

[2015-03-07 10:12] nilsbore opened #98 "Laser message has no intensities, only ranges"
This is different from how the actual laser behaves. We should probably have a constant intensity in the laser messages in simulation. See example of simulation laser message below:
[code]

The intensities vector should be as long as the ranges.

[2015-03-10 09:31] marc-hanheide opened #99 "[human_pose_simulator] make it publish people_msgs/people"

[2015-03-13 11:34] kunzel opened #100 "Deprecated api. Use 'set_camera_location' in the build script."
`place_camera` is deprecated, use `set_camera_location` instead
`aim_camera` is deprecated, use `set_camera_rocation` instead

[2015-03-14 00:11] kunzel commented on #96
PR #101 fixes this issue by republishing the odometry message from morse.

The issue of the drifting robot should also be fixed. There were still little cracks in the floor.

[2015-03-20 16:40] marc-hanheide opened #106 "AAF simulation is *not* installed"
install targets are missing form `CMakeLists.txt`...

I want to reiterate how important it is to test `catkin_make install` *before* releasing packages...

[2015-03-25 20:25] cdondrup opened #112 "PTU spins continuously if set to -180 pan"
At least this is what I observed.

[2015-04-08 14:27] Jailander commented on #106
This issue can be closed

[2015-04-08 14:28] Jailander opened #116 "emergency_stop doesn't work in simulation"
`rosservice call /emergency_stop` doesn't stop the robot in simulation

[2015-04-08 15:22] #106 closed

[2015-04-10 14:23] #97 closed

[2015-04-10 14:25] hawesie opened #117 "g4s simulation missing a charging station"
@cburbridge where is it going to go? @mudrole1 please can you add it when Chris tells you where?

[2015-04-10 21:50] hawesie opened #119 "g4s simulation wonky floor?"
Occasionally the robot just appears to get stuck on the floor in the g4s sim, or slides to the side after passing through a door.

[2015-04-20 05:01] hawesie commented on #117
It's difficult to do long-term testing without a charger as the battery on the robot runs down. @kunzel is there a way to stop the battery level decreasing in simulation?

[2015-04-20 08:50] kunzel commented on #117
As a quick fix you can set the robot's discharging rate to 0.

rosed strands_morse scitosA5.py
edit this -> strands_morse/strands_sim/src/strands_sim/builder/robots/scitosA5.py

[..]
 self.battery.properties(DischargingRate=0.00)
[..]

[2015-04-20 10:04] mudrole1 commented on #117
I can add this but I havent heared where :)

[2015-04-20 10:17] hawesie commented on #117
pinging @cburbridge

[2015-04-24 12:13] koenlek opened #122 "Unable to run lift_controller.py: rospy not available for python3?"
Hi all,

I installed strands desktop full from your official repositories (```sudo apt-get install ros-indigo-strands-desktop```). Then I tried to get a simulation with the lift based on this wiki page:
https://github.com/strands-project/strands_morse/wiki/BHAM-Morse

With some effort, I got PySide compiled (removed 3 refs to sphinx.ext.refcounting, and in setup.py I changed line 235 to ```filenam

[2015-04-27 13:46] hawesie commented on #122
rospy is available for Python 3, but you need to install it manually e.g.
- `sudo pip3 install rospkg`

or
- http://www.openrobots.org/morse/doc/1.2/user/installation/mw/ros.html#troubleshooting

[2015-05-06 13:09] koenlek commented on #122
Thanks, apparently I needed to install these as well:

[code]

Now it works!

[2015-05-06 13:09] #122 closed

[2015-06-04 16:29] hawesie opened #126 "Split into separate packages"
The strands_morse package is slowly becoming a monster. We should split it into a common package with all the robots defs etc. then packages for each environment.

[2015-06-09 06:08] kunzel commented on #126
Thats a good idea. Will do this when I am back

On Thu, 4 Jun 2015 19:29 Nick Hawes notifications@github.com wrote:

[2015-06-09 09:52] bfalacerda opened #129 "multi-robot sim"
I want to simulate 2 Bobs in morse. I want them to use a single roscore so I can use the ROS stuff for inter robot communication.

Does anyone have experience on how to setup such a simulation? Thanks.

[2015-06-09 10:59] kunzel commented on #129
This will require to change some of the default topics used by Bob. I It should be relatively easy to make those optional parameters when you create the robot....f it is not urgent we can talk about it next week.

[2015-06-10 11:23] bfalacerda commented on #129
cool, we'll talk next week then

[2015-06-22 09:43] adegroote commented on #117
Btw, Morse 1.3 has a ChargingZone feature, which can allow to do that properly.

[2015-06-22 09:45] hawesie commented on #117
Excellent news. @kunzel does this mean we can drop our fork?

[2015-06-22 10:26] kunzel commented on #117
Yes, I think we should do that. The only two things that require our version at the moment are the battery charging and scene generation. But when we are going to re-structure our strands-morse package after the review, we should also migrate these things.

[2015-08-27 10:41] pet1330 opened #136 "uol_bl_morse"
I tried to install the Strands system following [these instructions](https://github.com/strands-project/lamor15/wiki/Individual-Computer-Setup) for the LAMoR Summer School, but was unable to run the morse launch file. I'm not sure if it's a strands_morse error, or a blender error. Does anyone know why this error is occurring?
##### Console Output:

[code]

[2015-08-27 12:16] cdondrup commented on #136
This not just related to the uol_bl environment but a general problem with his morse installation. Maybe @cburbridge or @kunzel have an idea?

[2015-09-23 08:48] marc-hanheide opened #137 "get rid of openni_wrapper"
Check https://github.com/strands-project/strands_morse/search?utf8=%E2%9C%93&q=openni_wrapper and see that openni_wrapper is still used in here, however we decided to phase its use out (see https://github.com/strands-project/strands_systems/pull/114). As @cburbridge is the person pushing for phasing it out, maybe can you liaise with @kunzel and @RaresAmbrus to address this here as well?

[2015-10-30 13:47] marc-hanheide commented on #99
@cdondrup this was assigned to me but is it still relevant?

[2015-10-30 13:50] cdondrup commented on #99
Nope

[2015-10-30 13:50] #99 closed

[2015-11-18 15:02] cburbridge opened #143 "Update laser position to match URDF"
The position of the laser needs updating to match the actual robot's laser position.

https://github.com/strands-project/strands_morse/blob/indigo-devel/strands_sim/src/strands_sim/builder/robots/scitosA5.py#L91

[2015-11-25 11:32] marc-hanheide opened #144 "use strands_movebase for all environment launch files"
as agreed in a hangout on https://github.com/strands-project/strands_movebase/issues/62

[2015-11-26 14:25] bfalacerda commented on #144
there's probably nothing to do here, unless you're using the nav files in strands_morse to launch navigation (e.g., https://github.com/strands-project/strands_morse/blob/indigo-devel/bham/launch/bham_cs_nav2d.launch)

If you're using `roslaunch strands_bringup strands_navigation.launch` for the simulation tests then once we merge https://github.com/strands-project/strands_movebase/pull/69 we will

[2015-11-26 14:51] #129 closed

[2016-01-19 21:11] warp1337 commented on #136
I do have the same problem

[2016-01-20 09:48] cdondrup commented on #136
@pet1330 do you remember what the problem was and how you fixed it?

[2016-01-20 13:38] pet1330 commented on #136
I can't remember, I'm not entirely sure I did, But I vaguely remember asking @Jailander

[2016-01-20 13:45] Jailander commented on #136
I really can't remember solving this :/ @warp1337 have you tried running the full version as in `roslaunch strands_morse uol_bl_morse.launch`, if that doesn't work please post the error you are getting if it does tell us and I'll take a look at the fast version

[2016-01-26 10:30] marc-hanheide commented on #143
Who's doing this? @kunzel ?

[2016-01-26 10:33] cburbridge commented on #143
I updated the laser pose, but we need to test it some more. Can Jenkins run the tests using a PR on this repo?

[2016-01-26 10:35] marc-hanheide commented on #143
If there would be tests defined for this repo... I think there aren't.

[2016-02-04 09:50] #143 closed

[2016-02-04 11:38] marc-hanheide opened #148 "upgrade to latest Morse"
I have seen that morse had quite some updates, including a better human simulator. Has anyone looked at it @kunzel @cburbridge ? Can we update?

[2016-02-08 15:23] #144 closed

[2016-02-08 16:16] marc-hanheide commented on #148
Morse 1.4 has just been released: http://www.openrobots.org/morse/doc/stable/what_new.html

I think we should adopt this, also as we need a better human model for our work... Opinios? @hawesie @kunzel @cdondrup

[2016-02-08 19:15] hawesie commented on #148
Yes, I agree. I leave morse stuff to @kunzel though

[2016-03-15 10:58] hawesie commented on #148
@marc-hanheide @kunzel please can we bring this to a resolution?

[2016-03-21 18:43] hawesie opened #155 "Charging stations for TSC sim"
Please can you place the charging stations at the locations indicated on the map?

![tsc](https://cloud.githubusercontent.com/assets/927289/13929944/9b2ef3c2-ef94-11e5-859e-63fa8e34af32.png)

[2016-03-21 20:39] Jailander commented on #155
Does the difference in circles (for marking the Stations) have any meaning?

[2016-03-22 09:27] hawesie commented on #155
No, the difference is purely down to my incompetence!

[2016-03-22 09:30] Jailander commented on #155
haha ok just wondering, always looking for hidden messages ;) will be done in a bit

[2016-03-22 17:27] Jailander commented on #155
Fixed in #154

[2016-03-26 10:24] hawesie opened #156 "TSC furniture"
Some of the more important surfaces / furniture for the TSC simulation are pictured in this issue: https://github.com/strands-project/g4s_deployment/issues/86

It would be great to get most of these bits into the TSC simulation soon. They don't have to be exact replicas, but the general size, shape, location etc. would be great. Of interest include:

 - [ ] White lockers
 - [ ] Kitchen worktops
 -

[2016-04-15 11:00] hawesie commented on #112
I think I'm seeing this too with the TSC sim and docking.

[2016-04-15 11:02] hawesie opened #158 "docking in sim?"
Has anyone used the docking in simulation recently? When after I calibrate the PTU starts to spin continuously (maybe #112) then when I try to dock the robot runs backwards. This is using the TSC sim and the released packages.

[2018-02-12 18:32] #136 closed